# Python Review Note

## Basics

### Variables

In [4]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [5]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [6]:
# unpack a list
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [7]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)  # NOTE, there is white space between each word in the output.

Python is awesome

**Use `global` keyword to declare a global variable inside a function.**

In [11]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Data Types

- Text Type: 	str
- Numeric Types: 	int, float, complex
- Sequence Types: 	list, tuple, range
- Mapping Type: 	dict
- Set Types: 	set, frozenset
- Boolean Type: 	bool
- Binary Types: 	bytes, bytearray, memoryview

In [12]:
x = 5
print(type(x))

y = "hi"
print(type(y))

<class 'int'>
<class 'str'>

In [46]:
isinstance(1, int)

True

### Numbers

In [15]:
import random

In [18]:
# generate a random number between 1 and 9
random.randrange(1, 10)

8

### Strings

Strings in Python are arrays of bytes representing unicode characters.

In [22]:
s = """first line
second line
third line"""

print(s)

first line
second line
third line

In [27]:
a = "Hello, World!"

print(a[1])

e

In [24]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [28]:
txt = "The best things in life are free!"

print("free" in txt)

print("expensive" not in txt)

True
True

In [31]:
b = "Hello, World!"

print(b[2:5])

print(b[:5])

print(b[2:])

print(b[-5:-2])

llo
Hello
llo, World!
orl

In [35]:
s = " hi "

print(s.strip())  # same as trim() in other languages

hi

**NOTE, Python does not support using "+" to concatenate string and int.**

In [10]:
"a" + 1

TypeError: must be str, not int

In [40]:
s = "my age is {}"
age = "10"

s.format(age)

'my age is 10'

In [41]:
s = "{} {} {}"
s.format(1, 2, 3)

'1 2 3'

In [42]:
s = "{2} {0} {1}"
s.format(1, 2, 3)

'3 1 2'

### Operators

In [57]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)  # compare object itself, memory location

print(x == y)  # compare content

True
False
True

### Lists

A list can contain different data types.

In [3]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

In [11]:
# you can also use list() constructor to create a list
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets

print(thislist)

['apple', 'banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]

print(thislist[-1])

cherry

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [10]:
thislist = ["apple", "banana", "cherry"]

if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [17]:
thislist = ["a", "b", "c"]
thislist[1] = "bb"

print(thislist)

['a', 'bb', 'c']

In [74]:
thislist = ["a", "b", "c"]
i = thislist.index("b")

print(i)

1

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [51]:
list1 = ["a", "b"]
list2 = ["c", "d"]
list1.extend(list2)

print(list1)


tuple1 = ("e", "f")
list1.extend(tuple1)

print(list1)


list3 = ["g", "h"]
list1 += list3

print(list1)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [73]:
["a", "b"] * 3

['a', 'b', 'a', 'b', 'a', 'b']

When unpacking, if the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list.

In [75]:
fruits = ["apple", "banana", "cherry", "strawberry", "raspberry"]

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")

print(thislist)

['apple', 'cherry']

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)

print(thislist)


thislist.pop()
print(thislist)


del thislist[0]
print(thislist)


del thislist
print(thislist)

['apple', 'cherry']
['apple']
[]

NameError: name 'thislist' is not defined

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()

print(thislist)

[]

In [33]:
thislist = ["apple", "banana", "cherry"]

for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [37]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

# or use list comprehension, which offers the shortest syntax for looping through lists
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)


newlist = [x if x != "banana" else "orange" for x in fruits] 
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

**sort() is in-place.**

In [44]:
thislist = ["b", "d", "c", "a"]
thislist.sort()

print(thislist)


thislist = ["b", "d", "c", "a"]
thislist.sort(reverse = True)

print(thislist)


# customized sorting
def my_func(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = my_func)

print(thislist)


# case insensitive sorting 
thislist = ["b", "D", "C", "a"]
thislist.sort(key = str.lower)

print(thislist)

['a', 'b', 'c', 'd']
['d', 'c', 'b', 'a']
[50, 65, 23, 82, 100]
['a', 'b', 'C', 'D']

**reverse() is in-place.**

In [45]:
list1 = ["c", "b", "a"]
list1.reverse()

print(list1)

['a', 'b', 'c']

#### Copy Lists

In [50]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()

print(mylist)


# or
mylist2 = list(thislist)
print(mylist2)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [54]:
list1 = ["a", "a", "b"]
count_of_a = list1.count("a")

print(count_of_a)

2

### Tuples

Tuple is a collection which is ordered and **unchangeable (immutable)**.

Tuples can be regareded as unchangeable type of lists. You cannot change, add, or remove items once the tuple is created. If you want to change it, you can convert it into a list, then change the list, then convert back into a tuple.

**To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.**

In [60]:
thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Sets

Set is a collection which is unordered, unchangeable, and unindexed.

Set items are unchangeable, but you can remove and/or add items whenever you like.

### Dictionaries 

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.